name: Build Mod
on: [pull_request, push]

env:
    MAX_R8_TASKS: 1

jobs:
    build-mod:
        runs-on: ubuntu-latest
        steps:
            -   name: Checkout repository
                uses: actions/checkout@v4
                with:
                    submodules: 'true'

            -   name: Setup JDK 21
                uses: actions/setup-java@v4
                with:
                    java-version: 21
                    distribution: 'temurin'

            -   name: Setup Gradle
                uses: gradle/actions/setup-gradle@v4

            -   name: Build Mod
                run: |
                    ./gradlew :mod:clean :mod:build --no-daemon

            -   name: Capture Mod Artifacts
                uses: actions/upload-artifact@v4
                with:
                    name: mod-artifacts
                    compression-level: 9
                    if-no-files-found: error
                    path: |
                        mod/*/build/libs/TouchController-*-*.jar
                        mod/*/*/build/libs/TouchController-*-*.jar
                        !**/*-noreobf-*.jar
                        !**/*-slim-*.jar
                        !**/*-fat-*.jar

    build-mod-release:
        runs-on: ubuntu-latest
        if: github.event_name == 'push' && startsWith(github.ref, 'refs/tags/')
        steps:
            -   name: Checkout repository
                uses: actions/checkout@v4
                with:
                    submodules: 'true'

            -   name: Setup JDK 21
                uses: actions/setup-java@v4
                with:
                    java-version: 21
                    distribution: 'temurin'

            -   name: Setup Gradle
                uses: gradle/actions/setup-gradle@v4

            -   name: Build Mod
                run: |
                    ./gradlew :mod:clean :mod:build --no-daemon

            -   name: Create Release
                uses: softprops/action-gh-release@v2
                with:
                    files: |
                        mod/*/build/libs/TouchController-*-*.jar
                        mod/*/*/build/libs/TouchController-*-*.jar
                        !**/*-noreobf-*.jar
                        !**/*-slim-*.jar
                        !**/*-fat-*.jar
                    generate_release_notes: true
                env:
                    GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}